<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>body {font-family: sans-serif;background: white;}</style>
	<script>
	var port = location.port ? ':' + location.port : '';
	var origin = location.protocol + '//' + location.hostname + port;
	function payNow(message) {
		location.href = 'mock-iframe-ipg-return?postmessage=' + message;
	}
	</script>
<body>
	<% if (postmessage) { %>
		<!--
			IPG return will message parent frame
		-->
		<script>
		if (window !== window.parent) {
			window.parent.postMessage({
				csrfToken: '<%- csrfToken %>',
				fsa: {
					type: '<%- postmessage %>'
				}
			}, origin);
		}
		</script>
		<p>Returned with: <%- postmessage %> </p>
	<% } else { %>
		<!--
			IPG mocked page
		-->
		<h4>Mock Payment Host</h4>
		<dl>
			<dt><strong>Query param sessionId:</strong></dt>
				<dd><%- sessionId %></dd>
			<dt><strong>Query param SST:</strong></dt>
				<dd><%- SST %></dd>
			<dt><strong>Cart Total:</strong></dt>
				<dd><%- total && total.total && total.total.formattedValue %></dd>
		</dl>
		<div style="float: left; width:100%">
			<button style="float: left" onClick="payNow('IPG_PAYMENT_CANCEL')">Cancel</button>
			<button style="float: right" onClick="payNow('IPG_PAYMENT_COMPLETE')">Pay Now</button>
		</div>
		<div style="float: left; width:100%">
			<a href="#" style="float: left; margin-top:20px;" onClick="payNow('IPG_PAYMENT_ABORT')">Abort</button>
		</div>
	<% } %>
</body>
</html>
